<html>
    <head>
        <title>TOMO's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">TOMO's Blog</a></h1>
        </div>

        <div>
            <p>published: 5.05.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a test1.</p>
        </div>

        <div>
            <p>published: 5.05.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>We have four GGgground kids.</p>
        </div>
    </body>
</html>